body {
  background-color: #001f3f; 
  color: black; 
  font-family: 'Montserrat', sans-serif; 
  margin: 0;
  padding: 0;
  height: 100vh; 
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  height: 100%; 
}

h1 {
  color: yellow; /* SIMAJA berwarna kuning */
  font-size: 2.5rem; 
  margin-bottom: 20px;
}

h2 {
  color: white; /* Mengatur warna h2 menjadi putih */
}

/* Tambahan untuk tabel */
.table-container {
  width: 100%;
  overflow-x: auto; /* Agar tabel bisa digulir jika terlalu lebar */
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.styled-table th, .styled-table td {
  padding: 10px; 
  text-align: center; 
  border: 1px solid white; 
}

.styled-table th {
  background-color: #003366; /* Warna header tabel */
}

.styled-table tr:nth-child(even) {
  background-color: #00509E; /* Warna baris genap */
}

.styled-table tr:hover {
  background-color: #007ACC; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #001f3f; 
  color: white; 
  font-size: 0.8rem; 
  font-family: 'Montserrat', sans-serif; 
}
